@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

body {
    background-image: linear-gradient(green, rgb(102, 192, 0));
    font-family: 'Rubik 80s Fade', cursive;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

.title {
    margin-top: 350px;
    font-size: 60px;
    text-decoration: underline;
}

.text {
    font-size: 40px;
}

#dataOutput {
    height: 420px;
}
